*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;  
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  border: 2px solid #4d4d4d;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-sketch {
  border: 2px solid #0ffff0;
  
  height: 400px;
  width: 400px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.box:hover {
  background-color: #232324;
}

.on {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.footer {
  border: 2px solid #4d4d4d;
  width: 100vw;
  
}