*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* Size */
  height: 100vh; 
  /* Alignment */
  display: flex;
  flex-direction: column;
}

.container {
  /* Size */
  width: 100vw;
  /* Alignment */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-main {
  display: flex;
  flex-direction: column;
}

.container-sketch {
  /* Shape */
  border: 4px solid #0a0a0a;
  border-radius: 10px;
  /* Size */
  height: 400px;
  width: 400px;
  /* Alignment */
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 8px;
}

.box:hover {
  background-color: #232324;
}

.options {
  /* Alignment */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 8px;
  margin: 8px;
}

.options button {
  /* Size */
  width: 150px;
  height: 50px;
  /* Colors */
  background-color: #f7f7f7;
  color: #0f0f0f;
  /* Shape */
  border-radius: 5px;
}

.button-grid-size:active,
.options .on {
  /* Colors */
  background-color: #f7f7f7;
  color: #0f0f0f;
  box-shadow: -2px -2px 0 2px;
}

.footer {
  /* Size */
  width: 100vw;
  /* Alignment */
  text-align: center;
  padding: 8px;
  /* Colors */
  background-color: #f7f7f7;
}